<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lịch sử chụp ảnh</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    <link href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

</head>

<body>
<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: gainsboro; z-index: -1;"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
    <a class="navbar-brand" th:href="@{/image}" style="margin-left: 10%; font-weight: bolder">Trang chủ</a>
</nav>

<div class="row" style="height: 100%; width: 97%">
    <div class="col-1" style="width: 9%"></div>
    <div class="col-10" style="background-color: white">
        <h1>Lịch sử chụp ảnh</h1>

        <a>
            <button class="btn btn-primary" id="captureBtn" onclick="captureImage()" data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                    data-bs-target="#loadingModal">
                Chụp ảnh
            </button>
        </a>
        <p class="text-danger" id="mess" th:text="${mess}"></p>
        <table class="table table-striped">
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Ảnh</th>
                <th class="text-center">Thời gian chụp</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Lựa chọn</th>
            </tr>
            <th:block th:each="history, row: ${historyList}">
                <tr>
                    <td th:text="${row.count}" class="text-center"
                        style="vertical-align: middle; font-weight: bolder"></td>
                    <td class="text-center">
                        <img th:src="'data:image/png;base64,' + ${history.getImage()}" alt="Cover" height="125"
                             width="200">
                    </td>
                    <td th:text="${history.getTime()}" class="text-center" style="vertical-align: middle"></td>
                    <td th:text="${history.getAmount()}" class="text-center" style="vertical-align: middle"></td>
                    <td class="text-center" style="vertical-align: middle">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#detailModal"
                                th:attr="onclick=|detailItem('${history.getTime()}',
                                 '${history.getImage()}', '${history.getAmount()}')|">Chi tiết
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal"
                                th:attr="onclick=|deleteItem('${history.getId()}')|">Xoá
                        </button>
                        <label>
                            <input name="idDelete" class="form-check-input" type="checkbox"
                                   th:value="${history.getId()}">
                        </label>
                    </td>
                </tr>
                <tr th:if="${historyList.isEmpty()}">
                    <td colspan="5" class="text-center">Danh sách trống.</td>
                </tr>
            </th:block>
        </table>
        <button id="btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                data-bs-toggle="modal" data-bs-target="#deleteModals">Xoá nhiều
        </button>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/image?page=1}">Đầu</a>
                </li>
                <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/image(page=${currentPage - 1})}">Trước</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                    th:class="${currentPage == pageNumber} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/image(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>
                <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/image(page=${currentPage + 1})}">Sau</a>
                </li>
                <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/image(page=${totalPages})}">Cuối</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-1" style="width: 7%"></div>
</div>
<!--Modal delete-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xoá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá ảnh này không?
            </div>
            <form action="/image/delete" method="get">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng
                    </button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                    <input hidden name="id" type="text" id="idDelete">
                    <input hidden name="action" value="delete" type="text" id="">
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal detail-->
<div class="modal fade" id="detailModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel5">Chi tiết ảnh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="Ảnh" id="image" width="450px" height="auto" style="font-weight: "><br>
                <p id="timeImage"></p>
                <p id="amountImage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng
                </button>
                <!--                    <button type="submit" class="btn btn-danger">Xoá</button>-->
            </div>
        </div>
    </div>
</div>
<!--Modal delete nhiều-->
<div class="modal fade" id="deleteModals" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel1">Xóa nhiều</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá những hàng đã chọn không?
            </div>
            <form action="/image/multiDelete" method="get">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                    </button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                    <input hidden type="text" id="idDeleteMore" name="idDeleteMore">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal thông báo đang tải -->
<div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Gửi yêu cầu chụp ảnh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeModal('loadingModal')"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p id="loadingText" style="font-size: larger">Đang tải...</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal thông báo thành công -->
<div class="modal fade" id="successModal" data-bs-backdrop="false" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">Chụp ảnh thành công</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" onclick="location.reload()"></button>
            </div>
            <div class="modal-body">
                <p>Thành công!</p>
                <img src="" alt="" id="newImage" width="450px" height="auto">
                <p id="newAmount"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.reload()">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal thông báo thất bại -->
<div class="modal fade" id="failedModal" data-bs-backdrop="false" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel4">Chụp ảnh thất bại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Đã có lỗi xảy ra!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById('btn').onclick = function () {
        let checkbox = document.getElementsByName('idDelete');
        let result = "";
        for (let i = 0; i < checkbox.length; i++) {
            if (checkbox[i].checked === true) {
                result += '.' + checkbox[i].value;
            }
        }
        document.getElementById('idDeleteMore').value = result;
    };

    function deleteItem(id) {
        document.getElementById('idDelete').value = id;
    }

    function detailItem(time, image, amount) {
        document.getElementById('image').src = 'data:image/png;base64,' + image;
        document.getElementById('timeImage').innerText = 'Thời gian chụp: ' + time;
        document.getElementById('amountImage').innerText = 'Số lượng: ' + amount;
    }
</script>
<script>
    let request;
    let loadingModalVisible = false; // Biến để theo dõi trạng thái của modal loading
    console.log(loadingModalVisible);

    function captureImage() {
        loadingText();
        let loadingModal = document.getElementById("loadingModal");
        var bootstrapLoadingModal = new bootstrap.Modal(loadingModal);

        loadingModalVisible = true; // Đánh dấu modal loading đã hiển thị
        console.log(loadingModalVisible);

        request = new XMLHttpRequest();
        let URL = "http://172.20.10.4";
        let URL1 = "http://localhost:8080/image/check-update"

        request.open("GET", URL + "/takepicture", true);
        request.onload = function () {
            // console.log("Đây là onload");
            if (request.status === 200) {
                console.log(request.responseText);
                checkUpdate(URL1);
                // checkUpdate(URL1);
            } else {
                checkUpdate(URL1)
                closeModal("loadingModal");
                openModal("failedModal");
                console.log("Request failed. Status: " + request.status);
            }
        };
        request.onerror = function () {
            checkUpdate(URL1);
            // console.log("Đây là onerror");
            // closeModal("loadingModal");
            // openModal("failedModal");
            // console.log("An error occurred while sending the request.");
            // saveImage();
            // checkUpdate(URL1);
        };
        request.send();
    }

    function checkUpdate(URL) {
        const interval = setInterval(() => {
            let request1 = new XMLHttpRequest();
            request1.open("GET", URL, true);
            request1.onload = function () {
                if (request.status === 200) {
                    console.log("Đây là 200")
                    console.log(request1.responseText);
                    clearInterval(interval);
                    // let responseJson = JSON.parse(request1.responseText);
                    // let image = responseJson.image;
                    // let amount = responseJson.amount;
                    // document.getElementById('newImage').src = 'data:image/png;base64,' + image;
                    // document.getElementById('newAmount').innerText = 'Số lượng: ' + amount;
                    closeModal("loadingModal");
                    closeModal("failedModal");
                    openModal("successModal");
                } else {
                    // closeModal("loadingModal");
                    // openModal("failedModal");
                    // console.log("Request failed. Status: " + request1.status);
                    clearInterval(interval);
                    console.log(JSON.parse(request1.responseText));
                    let responseJson = JSON.parse(request1.responseText);
                    let image = responseJson.image;
                    let amount = responseJson.amount;
                    document.getElementById('newImage').src = 'data:image/png;base64,' + image;
                    document.getElementById('newAmount').innerText = 'Số lượng: ' + amount;
                    closeModal("loadingModal");
                    closeModal("failedModal");
                    openModal("successModal");
                }
            }
            request1.onerror = function () {
                // console.log("Lỗi?")
                clearInterval(interval);
                // console.log(request1.responseText);
                // let responseJson = JSON.parse(request1.responseText);
                // if (request1.responseText != null || request1.responseText != undefined ||request1.responseText != "" || request1.responseText.includes('a')) {
                // }
                // let image = responseJson.image;
                // let amount = responseJson.amount;
                // document.getElementById('newImage').src = 'data:image/png;base64,' + image;
                // document.getElementById('newAmount').innerText = 'Số lượng: ' + amount;
                // let request2 = new XMLHttpRequest();
                // request2.open("GET", URL, true);
                // request2.onload = function () {
                //     console.log("Onload trong onerror.");
                // }
                // request2.onerror = function () {
                //     console.log("đang lỗi ở đây");
                //     //TODO sửa lí do không gửi được request tới backend tại /image/check-update
                //     //TODO in ra 1 con số được gửi từ backend tới frontend
                // }
                // request2.send();
                closeModal("loadingModal");
                closeModal("failedModal");
                openModal("successModal");
                console.log("An error occurred while sending the request.");
            };
            request1.send();
        }, 2000);
    }

    // function convertImageToByteArray(imageFile) {
    //     return new Promise((resolve, reject) => {
    //         html2canvas(imageFile)
    //             .then((canvas) => {
    //                 canvas.toBlob((blob) => {
    //                     const reader = new FileReader();
    //                     reader.onloadend = () => {
    //                         const arrayBuffer = reader.result;
    //                         const uintArray = new Uint8Array(arrayBuffer);
    //                         resolve(Array.from(uintArray));
    //                     };
    //                     reader.onerror = (event) => {
    //                         reject(event.target.error);
    //                     };
    //                     reader.readAsArrayBuffer(blob);
    //                 });
    //             })
    //             .catch((error) => {
    //                 reject(error);
    //             });
    //     });
    // }

    function saveImage() {
        // const imageData = convertImageToByteArray(image); // Đây là mảng byte hình ảnh đã được chuyển đổi
        let image = document.getElementById("imageInput2");
        const imageData = image.files[0];

        const formData = new FormData();
        formData.append('file', imageData);

        const extraData = 0; // Giá trị dữ liệu bổ sung

        fetch('/image/receive1', {
            method: 'POST',
            headers: {
                // 'Content-Type': 'application/octet-stream', // Loại dữ liệu là mảng byte
                // 'Content-Type': 'multipart/form-data', // Loại dữ liệu là mảng byte
                'X-Extra-Data': extraData // Thông tin bổ sung trong tiêu đề
            },
            body: formData
        })
            .then((response) => {
                if (response.ok) {
                    // Xử lý phản hồi thành công
                    console.log('Yêu cầu đã được gửi thành công');
                    closeModal("loadingModal");
                    openModal("successModal");
                } else {
                    // Xử lý phản hồi lỗi
                    console.error('Lỗi khi gửi yêu cầu');
                    closeModal("loadingModal");
                    openModal("failedModal");
                }
            })
            .catch((error) => {
                // Xử lý lỗi trong quá trình gửi yêu cầu
                console.error('Lỗi khi gửi yêu cầu:', error);
                closeModal("loadingModal");
                openModal("failedModal");
            });
    }

    // Hàm để mở modal
    function openModal(modalId) {
        let modal = document.getElementById(modalId);
        let bootstrapModal = new bootstrap.Modal(modal, {
            backdrop: 'static', // Tạo nền tối xung quanh modal
            keyboard: false, // Không cho phép tắt modal bằng phím ESC
            mouse: false
        });
        bootstrapModal.show();
    }

    // Hàm để đóng modal
    function closeModal(modalId) {
        let modal = document.getElementById(modalId);
        let bootstrapModal = new bootstrap.Modal(modal);
        if (modalId === "loadingModal" && loadingModalVisible && request && request.readyState !== XMLHttpRequest.DONE) {
            request.abort();
            bootstrapModal.hide();
            loadingModalVisible = false;
            console.log("Đã hủy request.");
            console.log(loadingModalVisible);

        } else {
            bootstrapModal._hideModal();
            removeModalBackdrop();
        }
    }

    function removeModalBackdrop() {
        let modalBackdrop = document.querySelector(".modal-backdrop.fade.show");
        if (modalBackdrop) {
            modalBackdrop.remove();
        }
    }

    function loadingText() {
        let dots = window.setInterval(function () {
            let loadingText = document.getElementById("loadingText");
            if (loadingText.innerHTML.length > 10)
                loadingText.innerHTML = "Đang tải";
            else
                loadingText.innerHTML += ".";
        }, 500);
    }

    // function send() {
    //     var fileInput = document.getElementById('imageInput2');
    //     var file = fileInput.files[0];
    //     if (!file) {
    //         console.error('No file selected.');
    //         return;
    //     }
    //
    //     var formData = new FormData();
    //     formData.append('imageData', file);
    //
    //     fetch('/image/receive', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/octet-stream',
    //             'X-Extra-Data': 123 // Example of extra data
    //         },
    //         body: formData
    //     })
    //         .then(response => {
    //             if (response.ok) {
    //                 console.log('Image uploaded successfully.');
    //             } else {
    //                 console.error('Failed to upload image.');
    //             }
    //         })
    //         .catch(error => {
    //             console.error('Error:', error);
    //         });
    // }
</script>
</html>